@charset "UTF-8";

/*fonte do google */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&family=Vast+Shadow&display=swap');

/*fonte baixada */
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('openType');
    font-weight: normal;
}

/*Variavéis */
:root {
    --cor01: #7EE6A4;
    --cor02: #36EB78;
    --cor03: #36EB78;
    --cor04: #36EB78;
    --cor05: #0F6636;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque:'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}
/*zerado as configurações de margin e do paddingo do google que vem pre-definida */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: var(--cor01);
    font-family: var(--font-padrao);
}
a.externo::after {
    content: '\00A0\1F517';
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;

}
main strong  {
    color: var(--cor04);
    font-weight: bold;
}
main a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 6px;
}
main a:hover {
    text-decoration: underline;
    color: var(--cor05);
}
div.video {
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;    
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
header {
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor05) );
    color: white;
    min-height: 150px;
    text-align: center;
    padding: 30px;
}
nav {
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.452);
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    /*quando passar o mouse ele vai levar 1segundo de transição */
    transition-duration: .5s;
}
/*quando passar o mouse no link aparece  uma cor */
nav a:hover {
    background-color: var(--cor02);
    color: var(--cor05)
}
header > p {
    color: white;
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
}
header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.233);
}
main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.432);
    border-radius: 0px 0px 10px 10px;
}
main img {
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
main h1{
    
    font-family: var(--font-android);
}
main h2 {
    font-family: var(--font-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor01), transparent);
}

aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.521);
}
aside > h3 {
    background-color: var(--cor04);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}
aside > ul {
    
    list-style: none;
    /*divide em duas colunas */
    columns: 2;
}
footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
    padding: 5px;
}